<header class="w-full bg-indigo-600 shadow-sm">
  <div class="max-w-6xl mx-auto px-4 py-3 flex items-center justify-between">
    <div class="flex items-center">
      <h1 class="text-xl font-bold text-white"><%= link_to "Ransurec", root_path %></h1>
      <p class="ml-3 text-sm text-indigo-200"><%= display_event_name(@event) %></p>
    </div>
  </div>
</header> 